{% extends 'custom_user/profile/profile_base.html' %}

{% load static %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block profile_content %}
    <!-- Address Update Modal -->
    <div class="modal fade" id="addressupdateModal" tabindex="-1" aria-labelledby="addressupdateModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title" id="addressUpdateModalLabel">{% blocktrans %}Editar dirección{% endblocktrans %}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <div class="input-style mb-20">
                                    {{ form.name_address|as_crispy_field }}
                                </div>
                                <div class="input-style mb-20">
                                    {{ form.country|as_crispy_field }}
                                </div>
                                <div class="input-style mb-20">
                                    {{ form.province|as_crispy_field }}
                                </div>
                                <div class="input-style mb-20">
                                    {{ form.municipality|as_crispy_field }}
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">{% trans "Cancelar" %}</button>
                                <button type="submit" class="btn btn-primary">{% trans "Guardar" %}</button>

                            </div>
                        </div>
                    </div>
                </div>

    <div class="row">
        {% for known_address in request.user.profile.known_addresses.all %}
            <div class="col-lg-6">
                <div class="card mb-3 mb-lg-0">
                    <div class="card-header">
                        <h5 class="mb-0">{{ known_address }}</h5>
                    </div>
                    <div class="card-body">
                        <address>{{ known_address.address }}</address>
                        <a class="btn-small" data-bs-toggle="modal" data-bs-target="#addressupdateModal"
                           data-name_address="{{ known_address.name_address }}"
                           data-country="{{ known_address.country.pk }}"
                           data-province="{{ known_address.province.pk }}"
                           data-municipality="{{ known_address.municipality.pk }}"
                           data-action="ADDRESS_UPDATE"
                        > {% trans "Editar" %}
                        </a>
                    </div>
                </div>
            </div>

        {% empty %}
            <p>{% blocktrans %} No se encontraron direcciones conocidas. {% endblocktrans %}</p>

        {% endfor %}
    </div>
{% endblock %}

{% block extra_body %}
    <script type="application/javascript">
        $(document).ready(function () {
            var erros = $("#addKnowAdressModalForm > div > div > form > div.modal-body > div.alert.alert-block.alert-danger")
            if (erros.length > 0) {
                $('#addKnowAdressModalForm').modal('toggle');
            }


        });
    </script>

    <!-- autocomplete update beneficiary form script -->
    <script>
        $('#updateKnownAddressModalForm').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var name_address_value = button.data('name_address') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var knowaddress_id_value = button.data('id') // Extract info from data-* attributes

            var modal = $(this);
            modal.find('#id_name_address').val(name_address_value);
            {#modal.find('#id_beneficiary').val(name_address_value);#}
        })
    </script>
{% endblock extra_body %}