{% extends "custom_user/profile/profile_base.html" %}
{% load static %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block profile_content %}
    <!-- Private Data Update Modal -->
        <div class="modal fade" id="privateDataupdateModal" tabindex="-1" aria-labelledby="privateDataupdateModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="privateDataupdateModalLabel">{% blocktrans %}Editar datos personales{% endblocktrans %}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="input-style mb-20">
                                {{ form.first_name|as_crispy_field }}
                            </div>
                            <div class="input-style mb-20">
                                {{ form.last_name|as_crispy_field }}
                            </div>
                            <div class="input-style mb-20">
                                {{ form.email|as_crispy_field }}
                            </div>
                            <div class="input-style mb-20">
                                {{ contact_form.phone_number|as_crispy_field }}
                            </div>

                            <input type="hidden" class="action">


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">{% trans "Cancelar" %}</button>
                            <button type="submit" class="btn btn-primary">{% trans "Guardar" %}</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>

    <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">{% trans "Datos personales" %} </h5>
                    </div>
                    <div class="card-body">
                        <ul class="m">
                            <li><strong>Nombre:</strong> {{ request.user.first_name | default:"" }}</li>
                            <li><strong>Apellidos:</strong> {{ request.user.last_name | default:"" }}</li>
                            <li><strong>Email:</strong> {{ request.user.email|default:"---" }}</li>
                            <li><strong>Teléfono:</strong> {{ request.user.profile.phone_number|default:"---" }}</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a class="btn-small" data-bs-toggle="modal" data-bs-target="#privateDataupdateModal"
                           data-first_name="{{ request.user.first_name }}"
                           data-last_name="{{ request.user.last_name }}"
                           data-email="{{ request.user.email }}"
                           data-phone_number="{{ request.user.profile.phone_number }}"
                           data-action="PRIVATE_DATA_UPDATE"
                        > {% trans "Editar" %}
                        </a>

                    </div>
                </div>



{% endblock profile_content%}

{% block extra_body %}
{#    showing update form if errors #}
    <script type="application/javascript">
        $(document).ready(function () {
            var erros = $("#privateDataupdateModal > div > div > form > div.modal-body > div.alert.alert-block.alert-danger")
            if (erros.length > 0) {
                $('#privateDataupdateModal').modal('toggle');
            }


        });
    </script>

    <!-- autocomplete private data -->
    <script>
        $('#privateDataupdateModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal

            var action_value = button.data('action');
            console.log(action_value);

            var modal = $(this);
            modal.find('.action').val(action_value);

            if (action_value == 'PRIVATE_DATA_UPDATE'){
                var first_name_value = button.data('first_name');
                var last_name_value = button.data('last_name');
                var email_value = button.data('email');

                var phone_number_value = button.data('phone_number');

                modal.find('#id_first_name').val(first_name_value);
                modal.find('#id_last_name').val(last_name_value);
                modal.find('#id_email').val(email_value);

                if (phone_number_value != "None") {
                    modal.find('#id_phone_number').val(phone_number_value);
                }
            }




        })
    </script>
{% endblock extra_body %}





