{% extends 'custom_user/profile/profile_base.html' %}

{% load static %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block profile_content %}
    <!-- Beneficiary Add Modal -->
    <div class="modal fade" id="beneficiaryAddModal" tabindex="-1" aria-labelledby="beneficiaryAddModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="beneficiaryAddModalLabel">{% blocktrans %}Adicionar nuevo beneficiario{% endblocktrans %}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            {{ form|crispy }}

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">{% trans "Cancelar" %}</button>
                            <button type="submit" class="btn btn-primary">{% trans "Guardar" %}</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>

    <!-- Beneficiary Update Modal -->
    <div class="modal fade" id="beneficiaryUpdateModal" tabindex="-1" aria-labelledby="beneficiaryUpdateModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="beneficiaryUpdateModalLabel">{% blocktrans %}Adicionar nuevo beneficiario{% endblocktrans %}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            {{ beneficiary_update_form|crispy }}

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">{% trans "Cancelar" %}</button>
                            <button type="submit" class="btn btn-primary">{% trans "Guardar" %}</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>


    <div class="cart-action text-end my-2">
        <a class="btn " data-bs-toggle="modal" data-bs-target="#beneficiaryAddModal"><i class="fi-rs-plus mr-10"></i>{% trans "Beneficiario" %}</a>
    </div>

    <div class="card">
                    <div class="card-header">

                        <h5 class="mb-0">{% blocktrans %} Sus beneficiarios {% endblocktrans %} </h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                        {% if request.user.beneficiaries.all %}
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>{% trans "Beneficiario" %}</th>
                                    <th style="width: 40%; text-align: right;">{% trans "Acciones" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for beneficiary in request.user.beneficiaries.all %}

                                    <tr>
                                        <td>{{ beneficiary }}</td>

                                        <td style="width: 40%; text-align: right;" class="mb-2">
                                            <a href="#" class="btn-small" data-bs-toggle="modal"
                                               data-bs-target="#beneficiaryUpdateModal"
                                               data-phone-number="{{ beneficiary.phone_number }}"
                                               data-decription="{{ beneficiary.decription }}"
                                               data-id="{{ beneficiary.pk }}"


                                            >{% trans "Editar" %}</a>
                                            <a href="#" class="btn-small">{% trans "Transferir" %}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                        <p> {% trans "No se encontraron beneficiarios" %}
                        {% endif %}
                        </div>
                    </div>
                </div>
{% endblock %}

{% block extra_body %}
    <script type="application/javascript">
        $(document).ready(function () {
            var erros = $("#beneficiaryAddModal > div > div > form > div.modal-body > div.alert.alert-block.alert-danger")
            if (erros.length > 0) {
                $('#beneficiaryAddModal').modal('toggle');
            }


        });
    </script>

    <!-- autocomplete update beneficiary form script -->
    <script>
        $('#beneficiaryUpdateModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var phone_number_value = button.data('phone-number') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var decription_value = button.data('decription');
            var beneficiary_id_value = button.data('id') // Extract info from data-* attributes

            var modal = $(this);
            modal.find('#id_phone_number').val(phone_number_value);
            modal.find('#id_decription').val(decription_value);
            modal.find('#id_beneficiary').val(beneficiary_id_value);
        })
    </script>
{% endblock extra_body %}