{% extends 'custom_user/profile/profile_base.html' %}

{% load static %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block profile_content %}
    <!-- Address Add Modal -->
    <div class="modal fade" id="addressAddModal" tabindex="-1" aria-labelledby="addressAddModalModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="addressAddModalLabel">{% blocktrans %}Adicionar
                        dirección{% endblocktrans %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    {{ form|crispy }}
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">{% trans "Cancelar" %}</button>
                    <button type="submit" class="btn btn-primary">{% trans "Guardar" %}</button>

                </div>
            </div>
        </div>
    </div>

    <!-- Address Update Modal -->
    <div class="modal fade" id="addressupdateModal" tabindex="-1" aria-labelledby="addressupdateModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title" id="addressUpdateModalLabel">{% blocktrans %}Editar dirección{% endblocktrans %}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                {{ know_address_update_form|crispy }}

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">{% trans "Cancelar" %}</button>
                                <button type="submit" class="btn btn-primary">{% trans "Guardar" %}</button>

                            </div>
                        </div>
                    </div>
                </div>

    <div class="cart-action text-end my-2">
        <a class="btn " data-bs-toggle="modal" data-bs-target="#addressAddModal"><i class="fi-rs-plus mr-10"></i>{% trans "Direción" %}</a>
    </div>
    <div class="row">
        {% for known_address in request.user.profile.known_addresses.all %}
            <div class="col-lg-6">
                <div class="card mb-3 mb-lg-0">
                    <div class="card-header">
                        <h5 class="mb-0">{{ known_address }}</h5>
                    </div>
                    <div class="card-body">
                        <address>{{ known_address.address }}</address>
                        <a class="btn-small" data-bs-toggle="modal" data-bs-target="#addressupdateModal"
                           data-name_address="{{ known_address.name_address }}"
                           data-country="{{ known_address.country.pk }}"
                           data-province="{{ known_address.province.pk }}"
                           data-municipality="{{ known_address.municipality.pk }}"
                           data-action="ADDRESS_UPDATE"
                        > {% trans "Editar" %}
                        </a>
                    </div>
                </div>
            </div>

        {% empty %}
            <p>{% blocktrans %} No se encontraron direcciones conocidas. {% endblocktrans %}</p>

        {% endfor %}
    </div>
{% endblock %}

{% block extra_body %}
    <script type="application/javascript">
        $(document).ready(function () {
            var erros = $("#addKnowAdressModalForm > div > div > form > div.modal-body > div.alert.alert-block.alert-danger")
            if (erros.length > 0) {
                $('#addKnowAdressModalForm').modal('toggle');
            }


        });
    </script>

    <!-- autocomplete address update data -->
    <script>
        $('#addressupdateModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal

            var modal = $(this);

            var name_address = button.data('name_address');
            var country = button.data('country');
            var province = button.data('province');
            var municipality = button.data('municipality');

            modal.find('#id_name_address').val(name_address);
            $('#id_country option[value=' + country + ']').prop("selected", true);
            $('#id_province option[value=' + province + ']').prop("selected", true);
            $('#id_municipality option[value=' + municipality + ']').prop("selected", true);

        })
    </script>
{% endblock extra_body %}