{% extends 'market/base.html' %}

{% load i18n %}

{% block content %}
    <section class="pt-30 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="dashboard-menu">
                                {% block menu %}
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url "custom_user:profile" %}"><i
                                                    class="fi-rs-settings-sliders mr-10"></i>{% trans "Datos personales" %}
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url "custom_user:profile_contacts" %}"><i
                                                    class="fi-rs-users mr-10"></i>{% trans "Beneficiarios" %}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link"><i class="fi-rs-shopping-cart-check mr-10"></i>Track
                                                Your Order</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url "custom_user:profile_address" %}"><i
                                                    class="fi-rs-marker mr-10"></i>{% trans "Mis direcciones" %}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link"><i class="fi-rs-user mr-10"></i>Account details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'account_logout' %}"><i
                                                    class="fi-rs-sign-out mr-10"></i>{% trans "Sign Out" %}</a>
                                        </li>
                                    </ul>

                                {% endblock menu %}
                            </div>
                        </div>
                        <div class="col-md-8">
                            {% block profile_content %}
                            {% endblock profile_content %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

