{% extends 'market/profile/profile_base.html' %}

{% load static %}
{% load i18n %}

{% block profile_title %}<h3 class="box-title">{% trans "mi perfil" %} </h3>{% endblock profile_title %}

{% block profile_action_list %}
    <ul class="list-category">
        <li class="category-item">
            <i class="fa fa-user" aria-hidden="true"></i>  <strong><a href="{% url "custom_user:profile" %}" class="cate-link">{% trans "Mi perfil" %}</a></strong>
        </li>
        <li class="category-item">
            <i class="fa fa-users" aria-hidden="true"></i> <a href="{% url "custom_user:profile_contacts" %}" class="cate-link">{% trans "Contactos" %}</a>
        </li>
        <li class="category-item">
            <i class="fa fa-address-card-o" aria-hidden="true"></i> <a href="{% url "users:profile_address" %}" class="cate-link">{% trans "Direcciones" %}</a>
        </li>
    </ul>
{% endblock profile_action_list %}

{% block profile_content %}
    <div class="detail-info">
        <p class="contact-txt">{% trans "Nombre" %}: {{ request.user.first_name | default:"" }}</p>

        <p class="contact-txt">{% trans "Apellidos" %}: {{ request.user.last_name | default:"" }}</p>

        <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
            <div class="wrap-footer-item">
                <h3 class="item-header">{% trans "Datos de contacto" %}</h3>
                <div class="item-content">
                    <div class="wrap-contact-detail">
                        <ul>
                            <li>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <p class="contact-txt">{{ request.user.profile.address|default:"" }}</p>
                            </li>
                            <li>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <p class="contact-txt">{{ request.user.profile.phone_number|default:"" }}</p>
                            </li>
                            <li>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <p class="contact-txt">{{ request.user.email|default:"" }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}